@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9dde4;
  background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),
    url(../images/fondo01.jpg);
  background-size: cover;
  background-position: center center;
}

/* *********** */
/* ENCABEZADO - MENU */
/* *********** */
.contenedor-header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #1f283e;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  padding: 0 20px;
}

.contenedor-header header {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

.txtAzul {
  color: #008cff;
}

.contenedor-header header nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.contenedor-header header nav a:hover {
  color: #008cff;
}

.contenedor-header header .redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 8px;
}

.contenedor-header header .redes a:hover {
  color: #008cff;
}

.nav-responsive {
  display: none;
  font-size: 25px;
}

/* *********** */
/* SECCION CARRITO */
/* *********** */
.content-car {
  display: flex;
  justify-content: flex-end;
  color: #008cff;
}

.nav-card {
  display: none;
}

.content-car button {
  display: none;
}

.nav-card li {
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}

.content-car > .buy-card {
  margin-top: 1.5rem;
  width: 400px;
  height: auto;
  position: absolute;
  right: 0;
  background-color: #ffff;
  cursor: pointer;
  font-weight: bold;
}

.content-car .nav-card {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

.content-car .buy-card > button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: rgb(178, 235, 202);
  border: solid thin #e1e1e1;
  color: #494848;
  cursor: pointer;
}

.content-car .buy-card > button:hover {
  border: solid thin #494848;
  transition: all 0.4s;
}

.content-car i {
  font-size: 1.5rem;
  cursor: pointer;
}

.hidden-cart {
  display: none;
}

/*Acomodar los elementos de nuestro carrito de compras*/
.lista_de_clases div {
  display: none;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: solid thin gray;
}

.content-car .buy-card > .lista_de_clases div {
  display: flex;
}

.lista_de_clases {
  max-height: 300px;
  overflow-y: auto;
}

.lista_de_clases img {
  width: 100px;
}

.lista_de_clases p {
  width: 300px;
  font-size: 1rem;
}

.lista_de_clases p:nth-child(4) {
  padding-left: 40px;
}

.lista_de_clases p:last-child span {
  background-color: #008cff;
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
}

/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio {
  /*max-width: 1200px;*/
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(rgba(0, 1, 3, 0.5), rgba(0, 0, 0, 0.7)),
    url(../images/fondo01.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  position: relative;
}

.inicio .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.inicio .info {
  width: fit-content;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inicio .info h2 {
  font-size: 4rem;
  letter-spacing: 3px;
}

.inicio .info p {
  margin: 20px;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.inicio .info .btn-mas {
  width: 50px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
}

.inicio .info .btn-mas button {
  padding: 10px;
}

.inicio .info .btn-mas button:hover {
  background-color: #ff6f00;
  color: #fff;
}

/* *********** */
/* SECCION - ENTRENADORES */
/* *********** */
.section__entrenadores {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}
.section__header {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: #ffffff;
}
.section__header::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #008cff;
}
.section__description {
  font-size: 18px;
  max-width: 900px;
  color: #64748b;
}
.entrenadores__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.class__card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.class__card .class__bg {
  position: absolute;
  max-width: 175px;
  top: -3rem;
  right: -1rem;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}
.class__card:hover .class__bg {
  opacity: 0.5;
}
.class__card:hover {
  transform: translateY(-10px);
}
.class__card img {
  display: flex;
  width: 100%;
}
.class__content {
  flex: 1;
  padding: 1rem;
  background-color: #1e2547;
  color: #fff;
}
.class__content h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}
.class__content p {
  text-align: justify;
  font-size: 15px;
  color: #ffffff;
}

/* *********** */
/* SECCION - EXPERIENCIAS */
/* *********** */
.experiencias__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.experiencia__title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #008cff;
}

.tarjetas__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.tarjeta {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  max-width: 100%;
  height: auto;
}

.tarjeta p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* *********** */
/* SECCION - PREGUNTAS */
/* *********** */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.subtitle {
  color: #008cff;
  font-size: 2rem;
  margin-bottom: 25px;
}

.questions__paragraph {
  color: #64748b;
}

.questions {
  text-align: center;
}

.questions__container {
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.questions__padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid #008cff;
  border-radius: 6px;
}

.questions__padding--add {
  padding-bottom: 30px;
}

.questions__answer {
  padding: 0 30px 0;
  overflow: hidden;
}

.questions__title {
  text-align: left;
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: #008cff;
  justify-content: space-between;
}

.questions__arrow {
  border-radius: 50%;
  background-color: #008cff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform 0.3s;
}

.questions__arrow--rotate {
  transform: rotate(180deg);
}

.questions__show {
  color: #64748b;
  text-align: left;
  height: 0;
  transition: height 0.3s;
}

.questions__img {
  display: block;
}

/* *********** */
/* SECCION - NOSOSOTROS */
/* *********** */
.seccion-clases {
  /*max-width: 1200px;*/
  margin: 0 auto;
  margin-bottom: 2rem;
  background-image: url("../images/sec_clases.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.seccion-clases:hover {
  filter: saturate(180%);
}

.contenido-clases {
  padding: 2.5rem;
}
.seccion-clases .contenido-clases h2 {
  font-size: 3rem;
  color: white;
}
.contenido-clases p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-azul {
  background-color: #008cff;
  border: none;
  display: inline-block;
  margin-top: 1rem;
}
.btn-azul:hover {
  background-color: #ff6f00;
}

.btn-wsp {
  background-color: #008cff;
  border: none;
  display: inline-block;
  margin-top: 1rem;
}

.btn-wsp:hover {
  background-color: #ff6f00;
}

/* *********** */
/* SOBRE NOSOTROS.CSS */
/* *********** */
/* *********** */
/* SLIDER */
/* *********** */
.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  position: relative;
  height: 500px;
}

img {
  width: 100%;
  height: auto;
}

.button1,
.button2 {
  border-radius: 100%;
  background-color: #2b2b2b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button1:hover {
  background-color: #0059ff63;
}

.button2:hover {
  background-color: #0059ff63;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

/* *********** */
/* SOBRE NOSOTROS */
/* *********** */
.nosotros__container {
  max-width: 1200px;
}
#sobremi {
  background-color: #262626;
  margin: 30px 0;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#sobremi .fila {
  display: flex;
}
#sobremi .fila .col {
  width: 50%;
}
#sobremi .fila .col h3 {
  color: #fe9018;
  margin-bottom: 20px;
  font-size: 24px;
}
#sobremi .fila .col h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.2rem;
}
#sobremi .fila .col p {
  color: #fff;
  font-size: 16px;
  text-align: justify;
}
#sobremi .fila .col .contenedor-img {
  width: 100%;
}
#sobremi .fila .col .contenedor-img img {
  width: 100%;
  display: block;
}
#sobremi .fila .info {
  padding: 40px;
}

.video-container {
  /*max-width: 1200px;*/
  margin: auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* *********** */
/* SERVICIOS.CSS */
/* *********** */
/* *********** */
/* SERVICIOS */
/* *********** */
.servicios {
  background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),
    url(../images/fondo.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 90px;
  position: relative;
}

.servicios h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #fff;
}

.grid {
  display: grid;
  max-width: 1100px;
  justify-content: center;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  padding-bottom: 50px;
}

.items {
  background-color: #fff;
  border: solid thin #e1e1e1;
}

.items img {
  width: 100%;
  height: 170px;
}

.info-service {
  padding: 15px;
}

.info-service h3 {
  font-size: 1.3rem;
}

.info-service p {
  font-size: 1rem;
}

.precio {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.precio p {
  font-size: 1.8rem;
}

.info-service h3,
.info-service p {
  color: #222;
  margin-bottom: 15px;
}

.precio p:first-child {
  text-decoration: line-through;
}

/* *********** */
/* GIRO TARJETAS */
/* *********** */
.card {
  position: relative;
  width: 100%;
  height: 386px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back {
  transform: rotateY(180deg);
  background-color: #9bc9e7;
  color: #fff;
  /*display: flex;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.back button,
.btn-re {
  padding: 1rem;
  width: 100%;
  background-color: rgb(99, 156, 123);
  border: none;
  outline: none;
  color: #ffff;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 5rem;
  text-decoration: none;
}

.back button:hover,
.btn-re:hover {
  background-color: #2dc396;
  transition: all 0.3s;
}

/* *********** */
/* FORM_REGISTRO.CSS */
/* *********** */
/* *********** */
/* FORM_REGISTRO */
/* *********** */
.containerreg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.registro {
  width: 800px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.registro h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}

.controls,
select {
  width: 100%;
  background: #2b2e4b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #4d4d4d;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.btton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find {
  width: 50%;
  background: #2b2e4b;
  border: none;
  padding: 12px;
  color: white;
  border-radius: 4px;
  border: 1px solid #4d4d4d;
  margin: 16px 0;
  font-size: 16px;
}

.find:hover {
  background-color: #303db4;
}

/* ********** */
/* GALERIA.CSS */
/* ********** */
/* ********** */
/* GALERIA */
/* ********** */
.galeria {
  color: #fff;
  background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),
    url(../images/fondo.jpg);
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}
.galeria .contenido-seccion {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}
.galeria .contenedor-titulo {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.galeria .contenedor-titulo .numero {
  color: #008cff;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.galeria .contenedor-titulo .info {
  margin-left: 30px;
}
.galeria .contenedor-titulo .info .frase {
  color: #008cff;
}
.galeria .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.galeria .fila {
  display: flex;
}
.galeria .fila .col img {
  width: 100%;
  display: block;
}

/* *********** */
/* CONTACTO.CSS */
/* *********** */
/* *********** */
/* CONTACTO */
/* *********** */
.contacto {
  color: #fff;
  background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)),
    url(../images/fondo.jpg);
  background-size: cover;
  background-position: center center;
  padding: 100px 20px;
}
.contacto .contenido-seccion {
  max-width: 800px;
  margin: auto;
}

.contacto .contenedor-titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}
.contacto .contenedor-titulo .numero {
  color: #008cff;
  font-weight: bold;
  display: block;
  font-size: 5rem;
}
.contacto .contenedor-titulo .info {
  margin-left: 30px;
}
.contacto .contenedor-titulo .info .frase {
  color: #008cff;
}
.contacto .contenedor-titulo .info h2 {
  font-size: 3rem;
}
.contacto .fila {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.contacto .fila .col {
  width: 48%;
}
.contacto .fila input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.contacto .fila02 {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}
.contacto .fila02 .col02 {
  width: 48%;
}
.contacto .fila02 input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}
.contacto textarea {
  display: block;
  margin-top: 20px;
  padding: 15px;
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 200px;
}

.contacto button {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  border: none;
  background-color: #008cff;
  color: #fff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.contacto .fila-datos {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 18px;
  text-align: center;
}
.contacto i {
  color: #008cff;
  display: inline-block;
  margin-right: 10px;
}

/* *********** */
/* FOOTER */
/* *********** */
footer {
  background-color: #151623;
  padding: 30px 0;
}
footer .info {
  display: flex;
  max-width: 1100px;
  margin: auto;
  justify-content: space-between;
  padding: 0 20px;
}
footer .info p {
  color: #797e8e;
}
footer .info a {
  text-decoration: none;
  color: #797e8e;
  display: inline-block;
  margin: 0 15px;
}

/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 900px) {
  header nav {
    position: initial;
    display: none;
    transform: translate(0);
  }

  header .redes {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  nav.responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(33, 36, 78, 0.959);
    z-index: 99;
  }

  nav.responsive a {
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 20px;
  }

  .content-car > .buy-card {
    width: 400px;
    height: auto;
    position: absolute;
    margin-right: 40px;
    margin-top: 1.5rem;
    right: 0;
    background-color: #ffff;
  }

  .entrenadores__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contenido-clases h2 {
    text-align: left;
    font-size: 4rem;
    color: white;
  }

  .contenido-clases p {
    text-align: left;
  }

  /* *********** */
  /* SOBRE NOSOTROS.CSS */
  /* *********** */
  #sobremi .fila {
    display: block;
    text-align: center;
  }

  #sobremi .fila .col {
    width: 100%;
  }

  /* *********** */
  /* CONTACTO.CSS */
  /* *********** */
  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
    margin-bottom: 20px;
  }

  .contacto .fila02 {
    display: block;
  }
  .contacto .fila02 .col02 {
    width: 100%;
    margin-bottom: 20px;
  }

  footer .info {
    display: block;
    text-align: center;
  }
  footer .info p {
    margin-bottom: 10px;
  }
}

/* *********** */
/* SOBRE NOSOTROS.CSS */
/* *********** */
@media only screen and (max-width: 650px) {
  .slide {
    flex: 0 0 100%;
    position: relative;
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .slide {
    flex: 0 0 100%;
    position: relative;
    height: 300px;
  }

  /* *********** */
  /* SECCION CARRITO */
  /* *********** */
  .content-car > .buy-card {
    width: 350px;
    height: auto;
    position: absolute;
    margin-right: 4px;
    margin-top: 1.5rem;
    right: 0;
    background-color: #ffff;
  }
}

/* *********** */
/* SECCION ENTRENADORES */
/* *********** */
@media only screen and (max-width: 500px) {
  .entrenadores__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* *********** */
/* SECCION GENERAL */
/* *********** */
@media only screen and (max-width: 350px) {
  .inicio,
  .section__entrenadores,
  .experiencias__container,
  .seccion-clases,
  .questions,
  .nosotros__container,
  .slider-container,
  .video-container,
  .servicios,
  .containerreg,
  .galeria,
  .contacto {
    width: 64vh;
  }

  footer {
    width: 64vh;
  }
}
